

<%# <div class="clearfix">
</div> %>
<% if current_user.admin %>
	<%= render 'partials/admin'%>
<% elsif !current_user.admin %>
	<div class="row mt-5 profile_body">
		<div class="col-md-5 "> 
					<div class=" bg-white px-3 py-3">
							<h3> <%= @user.first_name %>'s Info </h3>
							<p> Name: <%= @user.first_name %> <%= @user.last_name %> </p>
							<p> Email: <%= @user.email%> </p>
					</div>

			</div>
	</div>
<% end %>
