<div id="carouselExampleIndicators" class="carousel slide mt-4" data-ride="carousel">
  <ol class="carousel-indicators">
    <% @posts.each.with_index(0) do |post, index| %>
      <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" class="<%= index == 0 ? 'active' : '' %>"></li>
    <% end %>
  </ol>
  <div class="carousel-inner ">
    <% @posts.each.with_index(0) do |post, index| %>
      <div class="item <%= index == 0 ? 'active' : '' %>">
        <%= image_tag(post.avatar.url, width: '100%', class: 'd-block w-100 img-fluid carousel-image') %>
				<p> <%= truncate(strip_tags(post.body .to_s), length: 50) %></p>
        <p><%= link_to "Read More", post_path(post), class: 'btn btn-primary '%></p>
      </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<script type="text/javascript">
  
     $('.carousel').carousel({
        interval: 2000
     });
  
</script>