<div>
	<h2> All Sold Cards </h2>
	<table class="table table-striped">
			<tr>
					<th> Card Name</th>
					<th> Card Type</th>
					<th> Card Pin</th>
					<th> Card Serial</th>
					<th> Card Price</th>
					<th> Created Date</th>
					<th> Actions</th>
			</tr>
			<% @soldCards.each do |card|%>
					<tr>
							<td> <%= card.name %></td>
							<td> <%= card.cardKind %></td>
							<td> <%= card.cardPin %></td>
							<td> <%= card.cardSerialNum %></td>
							<td> <%= card.cardPrice %></td>
							<td> <%= card.created_at.to_time.strftime('%B %e at %l:%M &p ')%></td>
							<td><%= link_to "Edit", edit_card_path(card),
							class:'btn btn-primary'%> </td>
					</tr>
			<% end %>
	</table>
</div>