<div>
<h2> Add New Post </h2>

	<%= form_for(@post) do |x| %>

			<% if @post.errors.any? %>
					<%  @post.errors.full_messages.each do |msg| %>
							<%# display error messages %>
							<div class="alert alert-danger"><%= msg%>
					<% end %>
			<% end %>
			<div class="form-group">
					<%= x.label :title%> 
					<%= x.text_field :title, class: 'form-control'%>
			</div>

			<div class="form-group">
					<%= x.label :category %> 
					<%= x.select :category_id, Category.all.collect { |y| [y.title, y.id]},
					{:include_blank => 'select one'}, class: 'form-control'%>
			</div>


			<div class="form-group">
					<%= x.label :body%>
					<%= x.rich_text_area :body, class: 'form-control', type: 'text_area', id: '70128924390640_trix_input_post_trix_input_post' %>
			</div>

			<div class="form-group">
					<%= x.label :avatar%>
					<%= x.file_field :avatar %>
			</div>

	
			<%= x.submit "submit", class:'btn btn-primary' %>
	<% end %>
</div>