<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Fastfive CBT CENTER" %></title>
    <%= csrf_meta_tags %>

		<%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag "application", :media => "all" %>
		<%= javascript_include_tag 'application' %>
		
		<script src="https://js.paystack.co/v1/inline.js"></script>
		
		
		

  </head>
  <body>

    <%= render 'layouts/nav'%>
		<div class="container overflow"> 
			<%= render 'layouts/motion-about'%>
		</div>
    <div class="container">
			
      <div class="row">
        <div class="col-lg-11">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      <!--/span-->
      </div><!--/row-->
			


    </div> <!-- /container -->
		<footer>
        <p>&copy; FastFive Computers 2020</p>

				<a href="mailto:brightokike@gmail.com?subject=Questions&body=Write here if you have questions" title="" >Questions here. Send us mail</a>
      </footer>
	
  </body>
</html>
